<h2>Вопросы для теста <%= @test.title %>:</h2>

<ul>
  <% @questions.each do |question| %>

    <li>
      <%= link_to question.value, question_path(question) %>
      <br>
      <%= link_to 'Удалить вопрос', question_path(question),
                  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>

<%= link_to 'Создать новый вопрос', new_test_question_path(@test) %>
