<footer>
  <p>
    © <%= current_year %> Roman Andreeff
  </p>
  <p>
    <%= link_to 'TestGuru', 'https://github.com/dionixs/test-guru.git', target: '_blank', rel: 'noopener nofollow' %>
    - Веб-приложение для викторин и тестов
    <br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank', rel: 'noopener nofollow' %>
  </p>
</footer>
