<footer>
  <p>
    © <%= Time.zone.now.year %> Roman Andreeff
  </p>
  <p>
    <%= link_to 'TestGuru', 'https://github.com/dionixs/test-guru.git' %>
    - Веб-приложение для викторин и тестов
    <br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com' %>
  </p>
</footer>
